.nav-sidebar {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: #21252b;

  &__header {
    margin-bottom: 30px;
  }

  &__items {
    // padding-left: 10px;
    padding-right: 30px;
  }

  &__item {
    list-style-type:none;
    margin-bottom: 30px;
  }
  &__item-link {
    color: #fefaef;
    text-decoration: none;
    
  }
  &__item-link:hover {
    transition: color 200ms;
    color: #ccc;
  }
}